@CHARSET "UTF-8";

#profile_section {
	position: relative;
	overflow: hidden;
	padding: 0;
	margin: 0;
	height: 100px;
	width: 100%;
}

#profile {
	position: absolute;
	padding: 0;
	margin: 0;
	height: 100px;
	width: 100px;
	margin: 0;
	height: 100px;
}

#profile_name {
	position: absolute;
	padding: 0;
	margin: 0;
	top: 1px;
	left: 105px;
	height: 30px;
	left: 105px;
	top: 1px;
	margin: 0;
}

#profile_title {
	position: absolute;
	padding: 0;
	margin: 0;
	top: 32px;
	left: 105px;
	height: 15px;
}

#profile_summary {
	position: absolute;
	top: 48px;
	left: 105px;
	height: 50px;
	margin: 0;
	padding: 0;
}

.times {
	font-family: "Times New Roman", Times, serif;
}

h1.times {
	font-size: 22px;
	font-style: italic;
	font-weight: bold;
}

h4.times {
	font-size: 12px;
	font-weight: bold;
}

.section {
	position: relative;
	padding: 0;
	margin: 0;
	height: 35px;
	width: 100%;
	font-size: 28px;
	color: white;
	background: black; /* For browsers that do not support gradients */
	background: -webkit-linear-gradient(left, black, white);
	/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(right, black, white);
	/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(right, black, white);
	/* For Firefox 3.6 to 15 */
	background: linear-gradient(to right, black, white);
	/* Standard syntax */
}

.section p {
	padding: 0;
	margin: 0px 10px;
	width: 100%;
}

#social {
	position: absolute;
	overflow: hidden;
	margin: 0;
	padding: 0;
	right: 0;
	width: 135px;
	background: grey;
}

#social ul {
	list-style-type: none;
}

#social li a {
	color: lightblue;
	text-align: center;
	text-decoration: none;
}

.company {
	position: relative;
	display: block;
	padding: 0;
	margin: 5px, 5px;
	height: 60px;
	width: 100%;
	border-style: none none solid none;
}

.company_information {
	position: absolute;
	 white-space: nowrap;
	margin: 0;
	height: 100px;
	width: 150px;
}

.company_name {
	position: absolute;
	margin: 0;
	top: 0px;
	height: 20px;
}

.company_location {
	position: absolute;
	margin: 0;
	top: 20px;
	height: 20px;
}

.position_information {
	position: absolute;
	 white-space: nowrap;
	 display: block;
	margin: 0;
	height: 70px;
	width: 100px;
	left: 151px;
}

.position_title {
	position: absolute;
	margin: 0;
	top: 0px;
	height: 20px;
}

.position_timeframe {
	position: absolute;
	margin: 0;
	top: 20px;
	height: 20px;
}

.job_responsibility {
	position: absolute;
	display: block;
	margin: 0;
	padding: 0;
	height: 100px;
	width: auto;
	left: 252px;
}

.job_responsibility ul {
	margin: 0;
	overflow: hidden;
}

.job_responsibility li {
	float: left;
	display: block;
	margin: 0;
	padding: 0px 12px;
}