@CHARSET "UTF-8";

body {
	background: #FDF2E9;
}

#companyinfo {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	height: 70px;
    background: #222; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#222, white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#222, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#222, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#222, white); /* Standard syntax (must be last) */	
}

#companylogo {
	float: left;
	padding: 12px 12px;
	hight: 50px;
	width: 50px;
}

#companyName {
	font-family: "Times New Roman", Times, serif;
	font-size: 22px;
	font-style: italic;
}

#menu {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #222;
}

#menu li {
	float: left;
}

#menu li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#menu li a:hover {
	background-color: grey;
}

#sitemap {
	list-style-type: none;
	text-align: center;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #222;
}

#sitemap a:link, a:visited {
	color: white;
	text-align: center;
	padding: 8px 12px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	text-align: center;
	font-size: 12px;
}

.active {
	background-color: #4CAF50;
}

#footer {
	position: bottom;
}

#copyright {
	background-color: #222;
	color: white;
	text-align: center;
	bottom: 0;
}